<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap/animate.css">

    <style>
        body {
            background: linear-gradient(87deg, #1E356B 0, #0090D4 100%) !important;
            width: 100%;
            height: 100vh;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40%;
            height: 60%;
            transform: translate(-50%, -50%);
            border: 1px solid #aaa;
            border-radius: 15px;
            -webkit-box-shadow: 6px 10px 74px -32px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px 10px 74px -32px rgba(0,0,0,0.75);
            box-shadow: 6px 10px 74px -32px rgba(0,0,0,0.75);
            background: #ffffff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #ffffff 28%, #dddddd 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, #ffffff 28%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, #ffffff 28%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        .logo {
            background: url("img/logo.png") no-repeat;
            width: 300px;
            height: 230px;
            background-size: contain;
            margin: 0 auto;
            margin-top: 40px;
        }

        .form-container {
            width: 300px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .blue-button {
            background-color: #1E356B;
            color: #fff;
        }

            .blue-button:hover {
                background: #3157af;
                cursor: pointer;
            }

        .spacing {
            padding-bottom: 15px !important;
        }

        .center {
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="logo">

        </div>
        <div class="form-container">
            <form action="upload.php" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td class="spacing center"><h4>Select Data Source</h4></td>
                    </tr>
                    <tr>
                        <td class="spacing"><input class="form-control" type="file" name="fileToUpload" id="fileToUpload" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control blue-button" type="submit" value="Validate Data Source" name="submit" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://localhost:5001/DatasetRead/ReadDataSet">Start Analyzing all open datasets (12000) !! WARNING: this may take a while !!</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>